asn1crypto==0.24.0
autopep8==1.4.3
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
Click==7.0
cryptography==3.2
Flask==1.0.2
Flask-Cors==3.0.7
Flask-HTTPAuth==3.2.4
Flask-PyMongo==2.2.0
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
numpy==1.15.4
pandas==0.23.4
pycodestyle==2.4.0
pycparser==2.19
pymongo==3.7.2
pymssql==2.1.4
PyMySQL==0.9.2
python-dateutil==2.7.5
pytz==2018.7
requests==2.21.0
six==1.11.0
SQLAlchemy==1.2.14
tornado==5.1.1
urllib3==1.24.1
Werkzeug==0.14.1
